/* Fontes */
@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}  

/* Initial CSS*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins Regular', sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

p {
    word-wrap: break-word;
}

/**/

/* Header CSS */

.padding-header {
    padding: 15px 0;
}

.btn {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100px !important;
    font-size: 16px;
    padding: 16px 32px;
}

.logo h5 {
    font-family: 'Poppins SemiBold', sans-serif !important;
    margin: 0;
}

.btn.signup {
    background: #E7415B;
    border: 1px solid #E7415B;
    color: white;
    transition: background-color 0.3s;
}

.btn.signup:hover {
    background: #d93e51;
    border: 1px solid #d93e51;
    color: white;
}

.btn.login {
    background-color: transparent;
    color: rgb(0 0 0);
    text-align: center;
}

/**/


/* Slide CSS */

.slide {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}   
.slide img {
    width: 100%;
}

/**/

/* Search CSS */

.search-event {
    margin-top: -3rem;
    position: relative;
}
.search-container {
    width: 70%;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    background: #fff;
}

.search-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 2px solid #E7415B;
    border-radius: 50px;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-content input {
    border: none;
    outline: none;
    padding: 17px 10px 17px 25px;
    border-radius: 50px 0px 0 50px;
    font-size: 16px;
    color: #555;
    width: 100%;
}

.search-content input::placeholder {
    color: #aaa;
}

.search-content button {
    background-color: #f04b5d;
    color: #fff;
    border: none;
    outline: none;
    padding: 17px 38px;
    border-radius: 5rem;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-content button:hover {
    background-color: #d93e51;
}

/* Search Result CSS */

.events-container {
    width: 85%;
    margin: 0 auto;
}
.search-message h5 {
    font-family: 'Poppins SemiBold';
}

.search-message h5 span {
    font-family: 'Poppins Regular';
}

.event-card {
    padding: 0px;
    border-radius: 20px;
    height: auto;
    border: 1px solid rgba(160, 163, 169, 0.22);
    margin-bottom: 2rem;
}

.image img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-body {
    padding: 1rem 1.5rem;
}

.event-title {
    text-align: left;
    font-family: 'Poppins SemiBold', sans-serif;
}

.event-title h5 {
    margin: 0;
}

.btn.details {
    padding: 16px 0;
}


/* All Events */

.all-events {
    margin-top: 3.8rem;
}

.title {
    font-family: 'Poppins SemiBold', sans-serif;
}

/**/

/* Footer CSS */

footer {
    margin-top: 5rem;
    padding: 5rem 0;
    color: #fff;
}

footer .container {
    border-top: 1px solid #fff
}

.links {
    gap: 30px;
    justify-content: center;
}

.links a {
    color: #ffffff50;
}

.links a:hover {
    opacity: 0.75;
}

.footer.container {
    background: #E7415B;
    border-radius: 2rem;
}

/**/

/* Login & Register CSS */

.account {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-sgn {
    width: 100%;
    height: auto;
}

.image-signup {
    width: 100%;
    height: auto;
    border-radius: 20px 0 0 20px;
    background: url(../images/banner-bg.png) no-repeat center center;
    background-size: cover;
}

.container-signup {
    display: flex;
    height: 100vh;
}

.account-img {
    flex: 2.5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.account-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-form {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding: 5rem;
  }

.form {
    width: 100%;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    padding: 0.9rem 0.85rem !important;
    background-color: #F2F2F2 !important;
    border: none !important;
}

.form-group label {
    color: #333333;
    margin-bottom: 8px;
}

.form-group input::placeholder {
    color: #808080;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn.signup.page {
    width: 100%;
}

.form p {
    text-align: center;
}

.form p a {
    color: #E7415B !important;
}

.account .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

/**/

/* Event Details CSS */

.body-alternate {
    background: #E7415B;
}


.body-alternate .logo {
    color: #fff;
}

.body-alternate .btn.signup {
    background: #ffffff;
    border-color: #ffffff;
    color: #000;
}

.body-alternate .btn.login {
    color: #fff;
}

.body-alternate section {
    margin-bottom: 2.5rem;
}

.ticket-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 2rem;
    padding: 2rem;
}

.right-info {
    display: flex;
    align-items: center;
}

.price {
    font-family: 'Poppins SemiBold', sans-serif;
    padding: 16px 32px;
}

.price h4 {
    margin: 0;
}

.btn.event {
    background: #e7415b;
    color: white;
}

.btn.event:hover, .btn.event:active {
    background: #d93e51;
    color: white;
}

.body-alternate footer {
    margin-top: 0;
}

.body-alternate .footer.container {
    background: #fff;
    border-radius: 2rem;
    color: black;
}

.body-alternate .logo {
    color: #E7415B;
}

.event-infos {
    background: #fff;
    padding: 2rem;
    border-radius: 1.5rem;
}

/***/

/* Checkout CSS */

.white {
    color: white;
}

.infos {
    background: white;
    padding: 2rem;
    border-radius: 2rem;
}