/* Fontes */
@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}  

/* Initial CSS*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins Regular', sans-serif;
    background-color: #f5f5f5;
    height: 200vw;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/**/

/* Header CSS */

.padding-header {
    padding: 15px 0;
}

.btn {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    border-radius: 100px !important;
    font-size: 16px;
    padding: 16px 32px;
}

.logo h5 {
    font-family: 'Poppins SemiBold', sans-serif !important;
    margin: 0;
}

.btn.signup {
    background: #E7415B;
    border: 1px solid #E7415B;
    color: white;
    transition: background-color 0.3s;
}

.btn.signup:hover {
    background: #d93e51;
    border: 1px solid #d93e51;
    color: white;
}

.btn.login {
    background-color: transparent;
    color: rgb(0 0 0);
    text-align: center;
}

/**/


/* Slide CSS */

.slide {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}   
.slide img {
    width: 100%;
}

/**/

/* Search CSS */

.search-event {
    margin-top: -3rem;
    position: relative;
}
.search-container {
    width: 70%;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    background: #fff;
}

.search-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 2px solid #E7415B;
    border-radius: 50px;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-content input {
    border: none;
    outline: none;
    padding: 0 10px 0 25px;
    border-radius: 50px 0px 0 50px;
    font-size: 16px;
    color: #555;
    width: 100%;
}

.search-content input::placeholder {
    color: #aaa;
}

.search-content button {
    background-color: #f04b5d;
    color: #fff;
    border: none;
    outline: none;
    padding: 17px 38px;
    border-radius: 5rem;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-content button:hover {
    background-color: #d93e51;
}

/* Search Result CSS */

.events-container {
    width: 85%;
    margin: 0 auto;
}
.search-message h5 {
    font-family: 'Poppins SemiBold';
}

.search-message h5 span {
    font-family: 'Poppins Regular';
}

.event-card {
    padding: 0px;
    border-radius: 20px;
    height: auto;
    border: 1px solid rgba(160, 163, 169, 0.22);
    margin-bottom: 2rem;
}

.image img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-body {
    padding: 1rem 1.5rem;
}

.event-title {
    text-align: left;
    font-family: 'Poppins SemiBold', sans-serif;
}

.event-title h5 {
    margin: 0;
}

.btn.details {
    padding: 16px 0;
}


/* All Events */

.all-events {
    margin-top: 3.8rem;
}

.title {
    font-family: 'Poppins SemiBold', sans-serif;
}